@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground bg-primary_background;
  }
  span, p, h1, h2, h3, h4, h5, h6 {
    @apply leading-[1.8] tracking-wider;
  }
}
.cl-internal-1ee916m{
  max-height: 550px;
}

@font-face {
  font-family: "Virgil";
  src: url("https://excalidraw.com/Virgil.woff2");
}

@font-face {
  font-family: "Cascadia";
  src: url("https://excalidraw.com/Cascadia.woff2");
}
